<% layout('./layout/page') -%>

<div class="categories">
  <div>Choose category:<button id="edit" class="edit">Edit categories</button></div>
  <div class="list">
      <div id="unassigned" class="category">Unassigned</div>
    <% for(let i = 0; i < categories.length; i++) {%>
      <div id=<%=categories[i].Id %> class="category"><%=categories[i].Name %></div>
    <%} %>
  </div>
  <button id="del-categories" class="del">Delete selected categories</button>
</div>
<div class="products">
  <div class="control">
    <label for="filter">Filter by Name:</label>
    <input id="filter" type="text" />
    <button id="new-product" class="new-product-btn">Add new product</button>
  </div>
  <p id="empty">Products were not found, please choose a different category</p>
  <div class="list"></div>
  <button id="del-products" class="del">Delete selected products</button>
</div>
