<% layout('./layout/page') -%>

<div class="categories">
  <div>Choose category: <button id="edit" class="edit">Edit categories</button></div>
  <div class="list">
    <div id="default" class="category selected">Default</div>
    <div id="apple" class="category">Apple</div>
    <div id="samsung" class="category selected">Samsung</div>
    <div id="huawei" class="category">Huawei</div>
  </div>
  <button id="del" class="del">Delete selected categories</button>
</div>
<div class="products">
  <div class="filter">
    <label for="">Filter by Name:</label>
    <input type="text" />
  </div>
</div>
