.control, 
.substring-label, 
.substring-input,
.case-checkbox,
.buttons {
  margin: 10px;
  user-select: none;
}

.result {
  margin: 10px;
}

.control {
  border-bottom: 1px solid black;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}
